$color-primary: #27566d;
$color-info: #25638c;
$color-secondary: #ffa100;
$color-secondary-green: #6b9f67;
$color-tertiary: #062430;
$color-error: #e10000;
$color-success: #2e7d31;

$color-white: #ffffff;
$color-black: #263238;
$color-blue-tint-2: #a6d4e5;
$color-silver: #f5f7fa;
$color-grey-blue: #abbed1;
