$color-primary: #27566d;
$color-info: #25638c;
$color-secondary: #ffa100;
$color-secondary-green: #6b9f67;
$color-tertiary: #062430;
$color-error: #e10000;
$color-error-transparent: hsla(0, 100%, 44%, 0.05);
$color-success: #2e7d31;
$color-success-transparent: hsla(122, 46%, 34%, 0.05);

$color-white: #ffffff;
$color-black: #263238;
$color-blue-tint-1: #5f9cb4;
$color-blue-tint-2: #a6d4e5;
$color-blue-tint-3: #e1f6ff;
$color-silver: #f5f7fa;
$color-grey-blue: #abbed1;
$color-blue: #15566f;
$color-blue-shade-1: #103e4f;
$color-light-grey: #89939e;
$color-dark-grey: #4d4d4d;
