@use "../abstracts";

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.skip-link {
  position: absolute;
  left: -9999px;
  top: auto;
  &:focus {
    left: 1rem;
    top: 1rem;
    z-index: 1000;
  }
}

.richText {
  h2 {
    @include abstracts.typography(abstracts.$font-title, 20px, 24px, 700);
  }

  p {
    margin-block: abstracts.rem(16px);
  }

  ul {
    list-style: disc;
    padding-left: abstracts.rem(40px);
    margin-block: abstracts.rem(16px);
  }

  a {
    text-decoration: underline;
    color: abstracts.$color-primary;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

@include abstracts.respond-above(md) {
  .richText {
    h2 {
      @include abstracts.typography(abstracts.$font-title, 28px, 32px, 700);
    }
  }
}
