---
export interface Props {
  slug: string;
  pageTitle: string;
}

const { slug, pageTitle } = Astro.props as Props;
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb__item">
      <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb__item" aria-current="page">
      {pageTitle}
    </li>
  </ol>
</nav>

<style lang="scss">
  @use "../styles/abstracts";

  .breadcrumb {
    display: flex;
    align-items: center;
    gap: abstracts.rem(5px);
    margin: abstracts.rem(20px) 0;

    a,
    li {
      @include abstracts.typography(abstracts.$font-paragraph, 12px, 16px, 400);
      color: abstracts.$color-primary;
      font-style: italic;
    }

    .breadcrumb__item + .breadcrumb__item::before {
      content: "→";
    }

    &__item {
      &:last-of-type {
        a {
          text-decoration: none;
        }
      }
    }
  }

  @include abstracts.respond-above(md) {
    .breadcrumb {
      margin: abstracts.rem(40px) 0;

      a,
      li {
        @include abstracts.typography(
          abstracts.$font-paragraph,
          16px,
          24px,
          400
        );
      }
    }
  }
</style>
