---
import "@fontsource/philosopher";
import "@fontsource-variable/albert-sans";

import "../styles/main.scss";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  seo: {
    title: string;
    description: string;
  };
}

const { seo } = Astro.props;
const { title, description } = seo || {
  title: "Default Title",
  description: "Default Description",
};
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <a class="skip-link" href="#main">Aller au contenu</a>
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>
