@use "sass:math";
@use "./variables" as vars;

@function rem($size) {
  $remSize: math.div($size, 16px);
  @return #{$remSize}rem;
}

@mixin respond-above($breakpoint) {
  @media (min-width: map-get(vars.$grid-breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin typography($family, $size, $lineHeight, $weight: 400) {
  font-family: $family;
  font-size: rem($size);
  line-height: rem($lineHeight);
  font-weight: $weight;
}
