@use "./variables" as vars;
@use "./mixins" as mixins;

@each $tag, $sizes in vars.$headings {
  #{$tag} {
    font-size: mixins.rem(nth($sizes, 1));
    line-height: mixins.rem(nth($sizes, 2));

    @include mixins.respond-above(md) {
      font-size: mixins.rem(nth($sizes, 3));
      line-height: mixins.rem(nth($sizes, 4));
    }
  }
}
