@use "../abstracts";

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: abstracts.$font-paragraph;
  color: abstracts.$color-primary;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1,
h2,
h3,
h4 {
  font-family: abstracts.$font-title;
}

.italic {
  font-style: italic;
}

img {
  width: 100%;
}
